* {
    background: rgb(236, 238, 79);
    text-align: center;
}

header {
    text-align: center;
    border: 10px solid blue;
    color: rgb(157, 5, 10);
}

section {
    margin: auto;
    text-align: center;
    width: 40%;
}

section h1 {
    color: rgb(4, 11, 77);
}

 ul li {
    color: rgb(157, 5, 10);
    border: 1px solid blue;
    margin: 5px auto;
    list-style: none;
    width: 40%;
}

textarea {
    margin: 5px auto;
    height: 20px;
    width: 40%;
}


/*h2 {
    font-weight: bold;
    color: rgb(4, 11, 77);
}
*/

